* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Font1";
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    color: white;
    line-height: 1.6;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 3rem;
    word-spacing: 2px;
    text-align: center;
    flex: 1;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    background-color: #252525;
    color: beige;
    font-size: 2rem;
}

@media (min-width: 800px) {
    .top {
        background-color: #252525;
        color: beige;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        box-shadow: 0 1px 20px beige;
        font-size: 2rem;
    }

    .front {
        padding-left: 20px;
        font-size: 2.5rem;
    }

    .center ui { 
        display: flex;
        position: center;
        padding: 5px 15px 5px 15px;
        gap: 20px;
    }
    .center li {
        list-style: none;
    }
    .center a {
        display: inline-block;
        text-decoration: none;
        color: beige;
        transition: color 0.5s;
        border-bottom: 2px solid transparent;
        transition: border-color 0.5s;
    }
    .center a:hover {
        border-bottom-color: beige;
    }
    .active a {
        color: beige;
        border-bottom: 2px solid beige;
    }
    #guest {
        display: flex;
        gap: 10px;
    }
    #guest li {
        border-bottom: 2px solid transparent;
        transition: border-color 0.5s;
    }
    #guest li:hover {
        border-bottom-color: beige;
    }
    #user {
        display: flex;
        gap: 10px;
    }
    #logoutBtn {
        color: beige;
        background: none;
        border: none;
        cursor: pointer;
        padding-bottom: 5px;
    }
    #logoutBtn:hover {
        border-bottom: 2px solid beige;
    }
    #userInfo {
        color: beige;
    }
    .end li {
        list-style: none;
    }
    .end a {
        text-decoration: none;
        color: beige;
    }

    body .hamburg-btn {
        display: none;
    }
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    /*
    .main {
        max-width: 100%;
    }
    */
    .top {
        display: none;
    }

}

header {
    position: sticky;
    top: 0;
    z-index: 1000;    
}

.hamburg-btn {
    display: flex;
    justify-content: end;
}

.hamburg-btn li {
    list-style: none;
}

.hamburg-btn button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: beige;
}

.hamburg-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #252525;
    border-left: 2px solid beige;
    padding: 1rem;
    display: none;
    flex-direction: column;
    box-shadow: -2px 0 8px beige;
    z-index: 1001;
}

.hamburg-open {
    display: flex;
}

.hamburg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    color: beige;
    font-size: 1.7rem;
}

.hamburg-header h2 {
    padding: 0;
}

.hamburg-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    max-height: 90%;
    font-size: 2.5rem;
    font-weight: bold;
}

.hamburg-items li {
    list-style: none;
}

.hamburg-items a {
    text-decoration: none;
    color: beige;
}

.hamburg-auth {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.hamburg-auth li {
    list-style: none;
}

.hamburg-auth a {
    text-decoration: none;
    color: beige;
}

.hamburg-close {
    background: none;
    border: 2px solid beige;
    font-size: 1.25rem;
    color: beige;
    cursor: pointer;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
    transition: background 0.2s ease, transform 0.1 ease;
}